<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
    <title>Propel - Быстрый PHP5 ORM</title>
    <meta name="language" content="en" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="../web/favicon.ico" type="image/x-icon" />
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" media="all" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/layout.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/markdown.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/base_syntax.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/syntax.css" />
    <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" href="/css/mobile.css" />

</head>
<body class="home">
<div id="fond">
    <div class="layout">
        <ul class="topmenu">
            <li class="element first">
                <a class="link" href="/documentation/">Документация</a>
            </li>
            <li class="element">
                <a class="link" href="http://www.propelorm.org">Propelorm.org</a>
            </li>
        </ul>

        <div id="banner">
            <div id="text">
                <h2 class="title">
                    <a href="/">Propel</a>
                </h2>
                <p class="title">
                    Умная, быстрая работа с объектами.
                </p>
            </div>
        </div>
        <div class="ribbon">
            <a href="https://github.com/propelorm/Propel" rel="me">Fork me on GitHub</a>
        </div>
        <div class="content">
            <div class="markdown">
                <p><img src='/images/propel-logo.png' alt='Propel logo' /></p>

                <h3 id='what'>Что?</h3>

                <p>Propel это объектно-реляционный маппер (ORM) с открытым исходным кодом для PHP5. Он позволяет взаимодействовать с вашей базой данных используя набор объектов, предоставляющих простое API для сохранения и получения данных.</p>

                <h3 id='why'>Why?</h3>

                <p>Propel gives you, the web application developer, the tools to work with databases in the same way you work with other classes and objects in PHP.</p>

                <ul>
                    <li>Propel gives your database a well-defined API.</li>

                    <li>Propel uses the PHP5 OO standards &#8211; Exceptions, autoloading, Iterators and friends.</li>
                </ul>

                <p>Propel makes database coding fun again.</p>

                <h3 id='show_me'>Show Me!</h3>
                <div class='highlight'><pre><code class='php'><span class='cp'>&lt;?php</span>
<span class='nv'>$book</span> <span class='o'>=</span> <span class='nx'>BookQuery</span><span class='o'>::</span><span class='na'>create</span><span class='p'>()</span><span class='o'>-&gt;</span><span class='na'>findPK</span><span class='p'>(</span><span class='mi'>123</span><span class='p'>);</span> <span class='c1'>// retrieve a record from a database</span>
<span class='nv'>$book</span><span class='o'>-&gt;</span><span class='na'>setName</span><span class='p'>(</span><span class='s1'>&#39;Don\&#39;t be Hax0red!&#39;</span><span class='p'>);</span> <span class='c1'>// modify. Don&#39;t worry about escaping</span>
<span class='nv'>$book</span><span class='o'>-&gt;</span><span class='na'>save</span><span class='p'>();</span> <span class='c1'>// persist the modification to the database</span>

                    <span class='nv'>$books</span> <span class='o'>=</span> <span class='nx'>BookQuery</span><span class='o'>::</span><span class='na'>create</span><span class='p'>()</span>  <span class='c1'>// retrieve all books...</span>
                    <span class='o'>-&gt;</span><span class='na'>filterByPublishYear</span><span class='p'>(</span><span class='mi'>2009</span><span class='p'>)</span> <span class='c1'>// ... published in 2009</span>
                    <span class='o'>-&gt;</span><span class='na'>orderByTitle</span><span class='p'>()</span>            <span class='c1'>// ... ordered by title</span>
                    <span class='o'>-&gt;</span><span class='na'>joinWith</span><span class='p'>(</span><span class='s1'>&#39;Book.Author&#39;</span><span class='p'>)</span>   <span class='c1'>// ... with their author</span>
                    <span class='o'>-&gt;</span><span class='na'>find</span><span class='p'>();</span>
                    <span class='k'>foreach</span><span class='p'>(</span><span class='nv'>$books</span> <span class='k'>as</span> <span class='nv'>$book</span><span class='p'>)</span> <span class='p'>{</span>
                    <span class='k'>echo</span>  <span class='nv'>$book</span><span class='o'>-&gt;</span><span class='na'>getAuthor</span><span class='p'>()</span><span class='o'>-&gt;</span><span class='na'>getFullName</span><span class='p'>();</span>
                    <span class='p'>}</span>
                </code></pre>
                </div>
                <h3 id='get_it'>Get It!</h3>

                <p>Fork the Propel GitHub repository at <a href='http://github.com/propelorm/propel'>http://github.com/propelorm/propel</a>.</p>

                <h3 id='dive_in'>Dive In!</h3>

                <p>Propel uses PDO as an abstraction layer, and code generation to remove the burden of runtime introspection. Therefore Propel is <em>fast</em>.</p>

                <p>Propel implements all the key concepts of mature ORM layers: the ActiveRecord pattern, validators, behaviors, table inheritance, reverse engineering an existing database, nested sets, nested transactions, lazy loading, LOB, you name it.</p>

                <p>Propel is built for developers who need to keep control of their code:</p>

                <ul>
                    <li>Extensibility is at the heart of Propel&#8217;s design; whatever you need to customize, Propel allows you to do so in a snap.</li>

                    <li>Propel can get out of your way for when you need custom queries or hyper-optimized transactions.</li>

                    <li>If you need to change your RDBMS in the course of the project, rebuild your model and you&#8217;re ready to go. Propel supports MySQL, PostgreSQL, SQLite, MSSQL, and Oracle.</li>

                    <li>The code generated by Propel is well commented, IDE-friendly and easy to use.</li>

                    <li>The Propel project started in 2005, and already powers thousands of websites. Thoroughly documented, backed by many tutorials across the web, it also benefits from an enthusiast community that provides rapid support for both beginner and hardcore developers.</li>
                </ul>

                <p>Propel is released under the <a href='http://www.propelorm.org/download#license'>MIT license</a>. It&#8217;s free to use, even in commercial applications.</p>

                <p>Do you want to know more? Jump to the Documentation tab, or start exploring the code in the GitHub repository.</p>

                <h3 id='propel_ecg_build_status'>Propel ECG (Build Status)</h3>

                <p>Propel is strongly unit tested. Propel is developed under Continuous Integration and with a Test Driven Development approach. You can look at the <a href='http://ci.propelorm.org/'>Propel CI server</a> powered by <a href='http://jenkins-ci.org/'>Jenkins</a> or look at the results below:</p>
                <table class='ecg' width='100%'>
                    <tr>
                        <th><a href='https://github.com/propelorm/Propel'>Propel 1.6</a></th>
                        <th><a href='https://github.com/propelorm/Propel2'>Propel2 (unstable)</a></th>
                        <th><a href='https://github.com/propelorm/sfPropelORMPlugin'>sfPropelORMPlugin</a></th>
                        <th><a href='https://github.com/propelorm/PropelBundle'>PropelBundle</a></th>
                        <th><a href='https://github.com/propelorm/PropelServiceProvider'>PropelServiceProvider</a></th>
                    </tr>
                    <tr>
                        <td><img src='http://ci.propelorm.org/job/Propel/lastBuild/buildStatus' /></td>
                        <td><img src='http://ci.propelorm.org/job/Propel2/lastBuild/buildStatus' /></td>
                        <td><img src='http://ci.propelorm.org/job/sfPropelORMPlugin/lastBuild/buildStatus' /></td>
                        <td><img src='http://ci.propelorm.org/job/PropelBundle/lastBuild/buildStatus' /></td>
                        <td><img src='http://ci.propelorm.org/job/PropelServiceProvider/lastBuild/buildStatus' /></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="bottom">
        <p>
        <ul>
            <li class="element first">
                <a class="link" href="/documentation/">Documentation</a>&nbsp;|&nbsp;
            </li>
            <li class="element">
                <a class="link" href="/support.html">Support</a>&nbsp;|&nbsp;
            </li>
            <li class="element">
                <a class="link" href="/download.html">Download</a>&nbsp;|&nbsp;
            </li>
            <li class="element">
                <a class="link" href="/contribute.html">Contribute</a>&nbsp;|&nbsp;
            </li>
            <li class="last element">
                <a class="link" href="http://propel.posterous.com/">Blog</a>
            </li>
        </ul>
        </p>
    </div>

</div>
</body>
</html>
